<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
</head>
<body>
{% extends "layout.html" %}
{% block content %}
  <div class="index">
    <h1>Report Generation</h1>
      <p>Search for accounts to generate a report for.</p>
<div class="jumbotron">
        <form action="/process" class="form-signin" method="post" id="query">
        <label for="searchFirst" class="sr-only">First Name</label>
            <input type="name" value="{{request.form.searchFirst}}" name="searchFirst" id="searchFirst" class="form-control" placeholder="First Name" required autofocus>
        <label for="searchLast" class="sr-only">Last Name</label>
            <input type="name" value="{{request.form.searchLast}}" name="searchLast" id="searchLast" class="form-control" placeholder="Last Name">
        <label for="searchPhone" class="sr-only">Phone Number</label>
            <input type="name" value="{{request.form.searchPhone}}" name="searchPhone" id="searchPhone" class="form-control" placeholder="Phone Number">
               <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </form>
      </div>
    <br>
      <div id="results">
                <table class="blueTable">
<thead>
<tr>
    <th>Policy(ies) ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip Code</th>
    <th>Phone Number</th>
</tr>
</thead>
<tbody>
<tr data-bind="foreach: contacts">
    <td data-bind="text: id"></td>
    <td data-bind="text: first"></td>
    <td data-bind="text: last"></td>
    <td data-bind="text: street"></td>
    <td data-bind="text: city"></td>
    <td data-bind="text: state"></td>
    <td data-bind="text: zipcode"></td>
    <td data-bind="text: phonenumber"></td>
</tr>
</tbody>
</table>
      </div>

  </div>
<script type="text/javascript">
    var self = this;

    function QueryViewModel(){
        $.getJSON('/process')
        self.id = ko.observable('id')
        self.first = ko.observable('first')
        self.last = ko.observable('last')
        self.street = ko.observable('street')
        self.city = ko.observable('city')
        self.state = ko.observable('state')
        self.zipcode = ko.observable('zipcode')
        self.phonenumber = ko.observable('phonenumber')

    }

    $('#query').submit(function (e) {
       e.preventDefault();
    });

ko.applyBindings(new QueryViewModel());
</script>
{% endblock %}
</body>
</html>
